################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VirtualCam/v15
/baseclasses/.vs/baseclasses/v15
/Debug
/Release
/x64
